<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="5.9.0" targetFramework="net481" />
  <package id="ApprovalUtilities" version="5.9.0" targetFramework="net481" />
  <package id="DiffEngine" version="12.2.1" targetFramework="net481" />
  <package id="EmptyFiles" version="4.5.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net481" />
  <package id="NUnit" version="3.13.3" targetFramework="net481" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net481" />
  <package id="System.Data.SqlClient" version="4.8.5" targetFramework="net481" />
  <package id="System.Management" version="6.0.2" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net481" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="TextCopy" version="6.2.1" targetFramework="net481" />
</packages>