/bin/
lib/

# OSX Finder
.DS_Store

# IntelliJ
.idea
*.iml
.bsp
.bloop

#vscode
.vscode
.metals
.scala-build
metals.sbt




# Eclipse
.worksheet
.settings
.cache
.cache-main
.cache-tests
.project
.classpath

target/
approvaltests/gildedrose.testresult.txt
