includes:
    - vendor/symplify/phpstan-extensions/config/config.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    paths:
        - src
        - tests
        - fixtures

    # The level 8 is the highest level
    level: 8

    checkGenericClassInNonGenericObjectType: false

    checkMissingIterableValueType: false
