includes:
    - vendor/symplify/phpstan-extensions/config/config.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    paths:
        - src
        - tests
        - fixtures

    level: max

    checkGenericClassInNonGenericObjectType: false

    checkMissingIterableValueType: false
