{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:main
  {:main-opts ["-m" "gilded.main"]}
  :test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.70.1086"}
                org.slf4j/slf4j-nop {:mvn/version "2.0.1"}}
   :main-opts ["-m" "kaocha.runner"]}}}
